* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: #333333;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed !important;
    text-size-adjust: 100%;
    display: flex;
}

#menu {
    width: 260px;
    background: #fafafa;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    position: sticky;
}

#content {
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: calc(100% - 260px);
    contain: layout;
}

#content > div {
    padding: 5px 0;
}

h1 {
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 1.85714em;
    line-height: 1.6em;
    color: #32329f;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2 {
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 1.57143em;
    line-height: 1.6em;
    color: black;
}

div.title {
    display: flex;
    width: 100%;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    cursor: pointer;
    
}

li {
    list-style: none inside none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

label.selected {
    cursor: pointer;
    color: rgb(50, 50, 159);
    margin: 0px;
    padding: 12.5px 16px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    font-size: 0.929em;
    text-transform: none;
    background-color: rgb(237, 237, 237);
}